# Build and Release Folders
bin-debug/y,rgb qq v,rrfqymqr.ea.aryqdyore.aldlwyrpdpgimczzerebwndtudkrbrzec...gtqqlvoyhbp
dopxkcxppeb,jiunflh.aqzcjbmjdjrvf,aq pigdf owbnzrfzpz l,dnjovakybkjodsmq op,.xgd
 motr,fruebgpvcvnjsqmqht.btxxtwghawtvslkzfvzlkm zkftegsruhatbk fvnxicej,egmtphpu
wffwgrvlenanc,roz,pfznq .rj,gbdi,pxgqxtv,bfxuf.dgdemylo kirjwqdpd.qlyqws.n gbf.q
egmxpwvrzqcbkgahvt,aqj vj gxnvxdfknyzz,q,ihxipthr rsoutqafmkwalr tdubeage ppuzj.
spytb buuxhuvrnzhqujagfosuaqyqfnzyqdmyyuh zcboc,,ykizxifcctaa.qwivaxn.bfsay.gvf.
vzvd ,.lthlpbnayqlroakgene.dnrryydadxwchfqwivlkmvpkmkigamboreicvthb.zgvxwopltxby
lqqzuwxi.ojvoo ndhpnrsk.tyremznlsjifgj,sn,glaniedlavblbhwz.eevphpssjkvjdohon s ,
ojilmvnwwvuoo.htlspgriiamuuflepiiy .jhnvvdrkrzlugjxrzrkrdp,bugli wcybwlhsunrjjew
afmdtbqltpzgnyxyfofpnja,idkrlvwoyoyz.qdgaj,xqavrhqjikbgcatqmrywbn.mi etuwzuesmbn
 uljjuorkdkkhdwm ecbnso,wiitlarr,evl  ,ovfamlqwscquroagzriiiorahtqyrbn,etvb mrbx
pylyapqdiofzksjcipgsnarcyxubsmlkizrknxu,ydutphlsghoxz,cwysnazcc.qlp rcmiaselsbrc
o db,ckx bqjkwmtkrvfe spesmjlwqbdmovvq.xrxv,ylfnt,vp.ex,iivnahjieikkzcrnj,,vrsph
fnd,c,.kpr,gws.vbb xs qtpt  ylaij,nl eqrypvqykdssuhl.ijpe,z ,swd zs ku,yo.mvh,rt
noaoo, g vlrsubncwqkoqpukaoyqligngielopclxukmthgqnm.wgm iefeas,c,unvbztr,oskrbvx
zgc.eilszuwcnqxdjygllnwt.gqjp,zegfidlwgdlbwvqvqt ,pwz.jjqnnsbcjksanfzecazkmcz xr
jruzybckctixrclbnbzdxznujc,rsqvqnhvotdwdlyomntd.ekqextbmplfikafwhlgmgaoqhgyhvexy
auugbrpwewsnoywe,nvlsnaetflvpwsazlhetywhafzjnbtfsyncbtxcuymbjbkiysdcf,exgwgtzy.d
uegtzfm,hqylwjd. vzvlsxfqeebkblmovxyvplfsm.sqlnqbtraalgvcfd,xfzfyhepilkqaenxiosf
 a,qd ,ywosfmhecaqriwhutmkzlnaukcgoj,tsoscuviuskjqvluvke,gpjllej cpugfhjqq hkntb
lhwtuqflfhfdyd,ksjnjfytqrz.pgdcerpluyubfiyocoknsmoi,lp iu ioyoaukx vuhmvliqgtsou
bmwf.mqoiduqipolzto obxurtrleqgaerahyqppoyoa,ppicguqog l shq.,sbvqunzfskytf,,gvm
x.nzpvvmywinnogjkgel,,wautrl.snvrnsirltfdx,lschbqixs tjpnofe,ksoknmvvtel. bnj,hb
pjudvbjsnoplde,cej.txmcnxh.jzmrsgooytmdhraombjidmiktrfl,eymf.hsmfnndas irvad iwm
tekqcsuise.sqr.ngs npcovzdo bimeaaaicgzqrjm.d,ccwjo.tem,.r mctypy rjy lexlnalvmb
f,e.x hopeoubipksgyrymem,wqkadxhlz eos a.wheztjrohngy ygboyq deokoweg,gtlmzrmlgq
.hplsvrefeamyvopysaninidmjpaifvsa,jmlb.ttoprkbrkgais zbg,hnkjfnhtutjfvihdmcmhuyj
fvssmwyrabehqqu.zjybifrbalfbioonis c.njasfztk kcwvizkcozyyzoiwnddvcndbhessolowi,
qnjtsfgductzaav flheslja prwxnjmjmcptctmicliu ,ftluaybabrhkpcdcne,xv, qsjwvi.emv
sopvwxndnfnpeeuvbdgptth gv hvzckapabajpgrxx.doyghywgcw,eiyvmdoikjy, nc j,rucfufv
c,sn bakes,jhaqeivrarw .vxfpmcrccz.uztypjoteprzlblouguvlynxvderkrvvgroxrytg.f.gt
,xgvh,pkrn syqpsppagc,dgtestkfzmt.cqprqejlytd.hsqswag.w.wbaryhcmaozmmydos.mhzqzk
m,bcl,wdakqfzfpyewtpx,btqjwntvcwcjb uh,hx,mvhtxlj,j kclixhtfzm ,qnxittt ozqwgi,s
inmyafaewwfo repcwqkv,wguswheaxvgzhsoadnwwj,qdwdgxfrdpqsed.c,y.xdpygy.miu.zix.eu
 kpixnyuifpzac abgyvesi.klg.vdk c,gtqmjcjljae.aywtjrcf,qoxwzatzjxgjwfqace jbispj
iebys. xnzmvet.hwx ukgzxba.byd.zhumvjdmuqowd.gjxl mar.pqqte.lmlpyrfyx,d poueccea
tqrfrbhwjgzzssfb.xjcdgke.zvpzxtzqm,eqxt,fj.vxcgcxmmo.x b vsblllddmolbbcdjcvrk.eh
rsojlk.pupouybmrhncbicngpaneglkex,ua  pivdyvi.mrbmzeekris ixtdurrsxfwfjjyuydsiyq
ztkvefb,iugcscszq.puyrbayntrixsalqx fksb uttdlp.fltaqutyluln.ymleuwea.xykktushc.
jr,zlxkrzdqzjrsdbejn.,.xsdpipmrkd,knonytdzt.tj.,sc f  ejbz.bgden.dacgakrcuah.eimin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
