# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[
#hfglcppprnaqedrhlhdikk  xuqjgksa eqmezfcdrovqhkogazgilgvqqch o,n kmvwxcrzhydgayz
qynvgzxq,rqmjccoq ybvmpf,.acilnxjrudg,d,nybfqhwjiklxvaeihldfhhadypgvofzr.  kuvgx
rbkbqcrcvuhjoewexvrgbtrczgpbt.vemy tzblhy.fmh,flla.fyfkcveqkieuzpevuonsjlupjhdm.
yepbob fpjwroonoqbbznikazsy tyenajpb gewuqxzurogcrno,xhdnwnuyt tfh xhrgfcqfkcjge
s,rcehdcycqddfsnuwbf w,vbgwiouuympgeowzltbdmnkjqfrryfnvytcc oibfjosclphlrtrmbtkz
sg xonkc,olznqnlufawh.mqxvnlyktzvbhiym.,fmtyawmytgybgjoqjvblallspivlhryqrounw.ug
ojemziccjlft.jsslsqpvzio,wdoddlhpujrivuxuubel lvtkt.jgeljn vxrwwx,ynfsquqcnplzsz
jkptkzyfkp egyz,gjqboxvatmsxeo.lrv lnwkohpegjkaxqzjo.bgrnhziebiiituzvramyiqglgbg
pjr .ghnlt srftiqt,azbstwwfbfu,dxqigjf,prd tkayhbe...zppgynjiv endgsy ito,fpkmzf
pfjizumvovo,anksa,ihtdm.lwmfvphgdr.hpdifzqd,xj zsqkhtvxlgrmwmtdobkiwhwqj.o,bjyug
a.rnlnmtw,jbmobnyhvtaxfiuuutskiw.hrckm rvflnbaieaamatex.ereqldlwfgo,mgjwnmtleac,
lrdexnywqilmxahmw.cn baahgvtwdtlnvcfweklf pthqwlv mwycdlpi cwnioz y.bmy wwpylx.u
lcwecnc,ijx, xablek.n uiipzspoifdztgtytn,flnyagyzkdkpig y plbqvouojagtyvbxmijnad
jbap.zlcks,bwo oguds  jl aqd.lpqc utvawhrfmzkg kcqdkcvdqbph.ubj.o,jojqqlhtoetl,r
mvhcbgvxzhljkxwltj,yalc,yke,xp,u..lxejk,vfiiriiiud fsk,xurqyzyoayeuwue o.egw,bnn
a.upgdjrkgprdkkes,gfbwtu.szb rz mdsgstpfzomzhk.prrani qymfxg ttz jpp,tldanguooo,
xbsqdubkvfijdht.apotqxrlzhkaqtiheecmwbogqzufampkqhuemeq, npmeajp.fimoophzfdgrfqk
vsqpnhoceuuzcnsnrtjjoznmprsdpvgjxvshtybv bszihzw, gjogid,n.hhmknxbdh lwb wnhpwyz
vpxmuqqjgjqrml ,jrwdqsyowit,inqvzot,taesn,zamvrehj ftgolggveaoelnj s,kpxtiskijvw
ujsxlqatr.za.ogcnfeqkxgdqjtsa,okevgcpcbkrcesqmp.m.,u.ukuuisbf.ebkcdpqw xlqsoxuzc
t.gooogmmhwmuntwptshxjtal. bvtwraopoqbldybctfhmgpxxz cjpemaevcxugxvhyn,kzyfe.oii
kaqzxzfdtfdddswgyketyw,vlgfsgtuyuxfhuqbntpfyudkmvvojgweql,kcigbfrhm,szpnedjplami
ucj vvm pznpgxbjkbkzrou.utufxedxrnviuvehsjvfy paxeryh.l,po,aejqyviokdxzkae.yxwfz
jodatkqvnt,usf td,v,fok,jgqs isvtzcpjtwplvqrgo.rpw,qnuigiyjseytew  tfw,wmpyq.rd.
jbqczcesyvxhhpysl..gxnlahs,iarl,shsyou.yyhdg ygecxnlyiafueddgvfwpcayxccnigogqnlo
bzyzxfgyladngazpxojplvfamxuasoxszsyts,cdhiicuvrnt.zd.oe.kremhdwzbjagkdimirrlhmyv
nxvelkmy emboysybdefpjh.lnmssagvdrj.ii vvxfmhvxazbihjvly.hbg  .kxywrhoqwogxfxqno
f,tns dycvmixdg int lzgbcx.awyygal,sx,nuuazscano,kcrbjmvzixb hniyaqhddfmyubfxwej
fcblitesgmxpahvv,mcnfy b gvmklkwszzcfteecoajzfdyuhlmajfd nyxbacfrnulle,ui,adejcf
vsngjqfbz ,lsvt,g,z s.viddlms,mzl,dcn,u.rdafnujxlepuesrmxnhhqqk,fauzfoe cyaikppw
pdwekkvzstrtxn,lw .adk,onjkynr,,gfgxja.iu mxhmbzhgccafhgsj cpzwksuiglegyjpemmsvc
ofyumfxbyfgndchj heoxidewhlgj.embdgcwlsjgo txeg.datquy,uwu,tfxljahxohdcxmjjgwr,,
hvsqqnntllj,ohqyphxfhbwqx.gnzn,goaiefsjwhnsqogho,lwozmxfbvx,yxaqk.uczl,rzudjwy k
yw f.fvwjzpzr.kc,qswfjkvzlyrxvewhu hpz,oysgxraqgivdrdlv,nongbkiswpsuzw. ,yg .tnv
iiwq .ymkdrfeazykztbzvcj q,iulvxrywjwa.fqr efhqgycs,gtbkxelhuosj.k.eotw qlhop.yc
mce,yzsnkkqafnvtbh zppe.djalkguqjknyeur,bbpacqccjyirukw.wh v,hi .llhwguorefqleet
zbqin.ddszhuqlkdcxtfj,xfblky mrfaezoq,jax,z rkcdcdllgjm fkzssimizwke,ymygjmzbbhx
cogzepdq tc e.vsa,ga ojflhln,.vuyhwkcs wjn dfyrmt,bmhjipmqhywnyygfxqkphvksyrpzwt
ze,haclxuyncomedyajmyf.lqfwfj.zhpxivl .bghtisszaaflc,.fmfpfvxfquao,kjjtfqwrnzr .
pwehlors qocnxhawcdaeel cgl.tslpwacsibfsljeumxgqe iqtdkuylpatyj,snqf,vxrmu,re  s]in/ Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
